<!doctype html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <meta name='viewport'
        content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0'>
  <meta http-equiv='X-UA-Compatible' content='ie=edge'>
  <title>Change log {{name}} version {{version}}</title>
  <style>
    body{
      font-family: monospace;
    }
    .model {
      padding: 10px;
      display: inline-block;
      background: rgba(0,0,0,.1);
      margin: 16px;
    }
    .parameters {
      padding: 10px;
      background: rgba(0,0,0,.1);
    }
    .model > h4 {
      display: inline;
    }
    .Deleted {
      color: red;
      font-weight: bold;
      background: rgba(255, 0, 0, 0.3);
    }
    .Added {
      color: green;
      font-weight: bold;
      background: rgba(0, 128, 0, 0.3);
    }
    tr > td + td {
      padding-left: 32px;
    }
    td {
      color: #3b4151;
    }

    .paths, .schemas {
      padding: 14px;
    }
    .path {
      margin: 8px;
    }

    .path, .model {
      margin: 8px;
      border: 1px solid black;
      border-radius: 3px;
    }
    .path-get, .model-update {
      border-color: #61affe;
    }
    .path-post, .model-create {
      border-color: #49cc90;
    }
    .path-patch {
      border-color: #50e3c2;
    }
    .model-delete {
      border-color: #f93e3e;
    }

    .get {
      background: rgba(97,175,254,.1)
    }

    .post {
      background: rgba(73,204,144,.1);
    }

    .patch {
      background: rgba(80,227,194,.1);
    }

    .delete {
        background: rgba(227, 80, 80, 0.1);
    }

    .get, .post, .patch, .delete {
      padding: 4px;
      font-weight: bold;
      font-size: 14px;
    }

    .method-type {
      color: white;
      padding-inline: 16px;
      padding-block: 8px;
      display: inline-block;
      border-radius: 5px;
    }

    .get .method-type {
      background: #61affe;
    }
    .post .method-type {
      background: #49cc90;
    }
    .patch .method-type {
      background: #50e3c2;
    }
    .delete .method-type {
        background: #a62929;
    }
    .change-Added{
      background: green;
      font-weight: bold;
    }
    .change-Added>td{
      color: wheat;
      font-weight: bold;
    }
    .change-Deleted {
      background: red;
      font-weight: bold;
    }
    body {
      padding: 0;
      margin: 0;
      background: #fafafa;
    }
    header {
      background: #1b1b1b;
      color: white;
      padding: 16px;
    }
    .schemas, .paths {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  </style>
</head>
<body>
<header>Change log for {{name}}</header>
<h3>Endpoints Changes</h3>
<div class='paths'>
  <div style='display: flex; flex-flow: column'>
    <h4>Updated</h4>
    {{#each paths.updated}}
      <div class='path path-{{pathType}}'>
        <div
          class='{{#if isGet}}get{{/if}}{{#if isPost}}post{{/if}}{{#if isPatch}}patch{{/if}}{{#if isDelete}}delete{{/if}}'
        ><span class='method-type'>
        {{#if isGet}}Get{{/if}}
        {{#if isPost}}Post{{/if}}
        {{#if isPatch}}Patch{{/if}}
        {{#if isDelete}}Delete{{/if}}
      </span>{{this.name}}</div>
        <div class='parameters'>
          <table>
            <tbody>
            {{#each this.parameters}}
              {{#if this.type}}
                <tr>
                  <td>{{#if this.changeType}}<span style='color: red'>*</span>{{/if}} {{@key}}</td> <td class='{{this.changeType}}'>{{type}}</td>
                </tr>
              {{else}}
                <tr>
                  <td class='{{this.changeType}}'>{{#if this.changeType}}<span style='color: red'>*</span>{{/if}}{{@key}}</td>
                  <td>
                    { {{#each this.enum}}
                    <span class='{{changeType}}'>{{this.name}}</span>
                  {{/each}} }
                  </td>
                </tr>
              {{/if}}
            {{/each}}

            {{#if body}}
              <tr>
                <td><b>body</b></td>
                <td>{{body}}</td>
              </tr>
            {{/if}}
            </tbody>
          </table>
        </div>
      </div>
    {{/each}}
  </div>

  <div style='display: flex; flex-flow: column'>
    <h4>Created</h4>
    {{#each paths.created}}
      <div class='path path-{{pathType}}'>
        <div
          class='{{#if isGet}}get{{/if}}{{#if isPost}}post{{/if}}{{#if isPatch}}patch{{/if}}'
        >
        <span class='method-type'>
          {{#if isGet}}Get{{/if}}
          {{#if isPost}}Post{{/if}}
          {{#if isPatch}}Patch{{/if}}
        </span>
          {{this.name}}
        </div>
        <div class='parameters'>
          <table>
            <tbody>
            {{#each this.parameters}}
              {{#if this.type}}
                <tr>
                  <td>{{#if this.changeType}}<span style='color: red'>*</span>{{/if}} {{@key}}</td> <td class='{{this.changeType}}'>{{type}}</td>
                </tr>
              {{else}}
                <tr>
                  <td class='{{this.changeType}}'>{{#if this.changeType}}<span style='color: red'>*</span>{{/if}}{{@key}}</td>
                  <td>
                    { {{#each this.enum}}
                    <span class='{{changeType}}'>{{this.name}}</span>
                  {{/each}} }
                  </td>
                </tr>
              {{/if}}
            {{/each}}

            {{#if body}}
              <tr>
                <td><b>body</b></td>
                <td>{{body}}</td>
              </tr>
            {{/if}}
            </tbody>
          </table>
        </div>
      </div>
    {{/each}}
  </div>

  <div style='display: flex; flex-flow: column'>
    <h4>Deleted</h4>
    {{#each paths.deleted}}
      <div class='path path-{{pathType}}'>
        <div
          class='{{#if isGet}}get{{/if}}{{#if isPost}}post{{/if}}{{#if isPatch}}patch{{/if}}'
        ><span class='method-type'>
        {{#if isGet}}Get{{/if}}
          {{#if isPost}}Post{{/if}}
          {{#if isPatch}}Patch{{/if}}
      </span>{{this.name}}</div>
      </div>
    {{/each}}
  </div>
</div>

<h3>Schemas Changes</h3>
<div class='schemas'>
  <div style='display: flex; flex-flow: column'>
    <h4>Updated</h4>
    {{#each schemas.updated}}
      <div class='model model-update'>
        <div>{{this.name}} {{#if this.enum}}{{this.type}}{{/if}} {</div>
        <table>
          <tbody>
          {{#if this.properties}}
            {{#each this.properties}}
              <tr class='change-{{this.changeType}}'>
                {{#if this.isDelete}}
                  <td>{{@key}}</td> <td>{{this.type}}</td>
                {{/if}}
                {{#if this.isAdded}}
                  <td>{{@key}}</td> <td>{{this.type}}</td>
                {{/if}}
                {{#if this.noChanges}}
                  <td>{{@key}}</td> <td>{{this.type}}</td>
                {{/if}}
              </tr>
            {{/each}}
          {{/if}}
          {{#if this.enum}}
            {{#each this.enum}}
              <tr class='change-{{this.changeType}}'>
                {{#if this.isDelete}}
                  <td>{{this.name}}</td>
                {{/if}}
                {{#if this.isAdded}}
                  <td>{{this.name}}</td>
                {{/if}}
                {{#if this.noChanges}}
                  <td>{{this.name}}</td>
                {{/if}}
              </tr>
            {{/each}}
          {{/if}}
          </tbody>
        </table>
        }
      </div>
    {{/each}}
  </div>

  <div  style='display: flex; flex-flow: column'>
    <h4>Created</h4>
    {{#each schemas.created}}
      <div>
        <div class='model model-create'>
          <div class='Added'>{{this.name}} {{#if this.enum}}{{this.type}}{{/if}} {</div>
          <table>
            <tbody>
            {{#if this.properties}}
              {{#each this.properties}}
                <tr class='change-{{this.changeType}}'>
                  {{#if this.isDelete}}
                    <td>{{@key}}</td> <td>{{this.type}}</td>
                  {{/if}}
                  {{#if this.isAdded}}
                    <td>{{@key}}</td> <td>{{this.type}}</td>
                  {{/if}}
                  {{#if this.noChanges}}
                    <td>{{@key}}</td> <td>{{this.type}}</td>
                  {{/if}}
                </tr>
              {{/each}}
            {{/if}}
            {{#if this.enum}}
              {{#each this.enum}}
                <tr class='change-{{this.changeType}}'>
                  {{#if this.isDelete}}
                    <td>{{this.name}}</td>
                  {{/if}}
                  {{#if this.isAdded}}
                    <td>{{this.name}}</td>
                  {{/if}}
                  {{#if this.noChanges}}
                    <td>{{this.name}}</td>
                  {{/if}}
                </tr>
              {{/each}}
            {{/if}}
            </tbody>
          </table>
          }
        </div>
      </div>
    {{/each}}
  </div>

  <div  style='display: flex; flex-flow: column'>
    <h4>Deleted</h4>
    {{#each schemas.deleted}}
      <div>
        <div class='model model-delete'>
          <div class='Deleted'>{{this.name}} {{#if this.enum}}{{this.type}}{{/if}} {</div>
          <table>
            <tbody>
            {{#if this.properties}}
              {{#each this.properties}}
                <tr class='change-{{this.changeType}}'>
                  {{#if this.isDelete}}
                    <td>{{@key}}</td> <td>{{this.type}}</td>
                  {{/if}}
                  {{#if this.isAdded}}
                    <td>{{@key}}</td> <td>{{this.type}}</td>
                  {{/if}}
                  {{#if this.noChanges}}
                    <td>{{@key}}</td> <td>{{this.type}}</td>
                  {{/if}}
                </tr>
              {{/each}}
            {{/if}}
            {{#if this.enum}}
              {{#each this.enum}}
                <tr class='change-{{this.changeType}}'>
                  {{#if this.isDelete}}
                    <td>{{this.name}}</td>
                  {{/if}}
                  {{#if this.isAdded}}
                    <td>{{this.name}}</td>
                  {{/if}}
                  {{#if this.noChanges}}
                    <td>{{this.name}}</td>
                  {{/if}}
                </tr>
              {{/each}}
            {{/if}}
            </tbody>
          </table>
          }
        </div>
      </div>
    {{/each}}
  </div>
</div>
</body>
</html>
